{% extends 'base.html' %}
{% block head_tag_title %}Survey Question 3{% endblock %}
{% block body_tag_content %}

<div class="survey_start_container">
    <div class="row text-center">
        <div class="col d-flex justify-content-center">
            <div class="card">
                <div class="text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/800px-Blue_question_mark_icon.svg.png"
                        class="img-fluid w-25 mt-5" alt="Responsive image">
                </div>
                <div class="card-body">
                    <div class="question-2-title">
                        <h1 class="display-6">{% block question %}{{question}}{% endblock %}</h1>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="{% block radio_value1 %}{% endblock %}" />
                        <label class="form-check-label" for="inlineRadio1">{% block answer1
                            %}{{question_choice_one}}{%
                            endblock %}</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="{% block radio_value2 %}{% endblock %}" />
                        <label class="form-check-label" for="inlineRadio2">{% block answer2
                            %}{{question_choice_two}}{%
                            endblock %}</label>
                    </div>
                    <form action="/answer" method="POST">
                        <button class="btn btn-outline-success m-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}