{% extends 'base.html' %}
{% block head_tag_title %}Survey Complete Page{% endblock %}
{% block body_tag_content %}

<div class="survey_start_container">
    <div class="row text-center">
        <div class="col d-flex justify-content-center">
            <div class="card">
                <div class="text-center">
                    <img src="https://t4.ftcdn.net/jpg/00/85/12/45/360_F_85124500_nSdluR6U2K8Zz48JQhOEMPeBpWME0tNd.jpg"
                        class="img-fluid w-25 mt-5" alt="Responsive image">
                </div>
                <div class="card-body">
                    <div class="question-2-title">
                        <h1 class="display-6">Thank You, Survey Complete!!!</h1>
                    </div>

                    <a class="btn btn-outline-success m-4" href="http://127.0.0.1:5000/" role="button">Retake
                        Survey</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}